.m11-top{
    background-color: #fff;
    border: 1px solid darkgray;
    height: 33px;
    margin: 7px 0px;
    padding-left: 15px;
    font:700 16px/33px "Î¢ÈíÑÅºÚ";
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222C32;
    padding: 10px;
    font-size: 14px;
}

/*Çå³þ¸¡¶¯*/
.clearfix:after {
    display: block;
    content: "";
    height: 1px;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

.clearfix {
    zoom: 1; /*IE678*/
}

.fl {
    float: left;
}

.fr {
    float: right;
}

#big-box {
    background-color: #fff;
    padding: 5px;
}

header {
    margin-bottom: 5px;

}

header h1 {
    padding-top: 10px;
    width: 100%;
    margin-top: 0;
    text-align: center;
    font-size: 20px;
}

.main1,.main2,.main3,.main4,section {
    margin-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 2px 2px 2px #dddddd;
}

.shenqing {
    padding: 7px 0 4px 0;
    background-color: #636F80;
    color: #C2CCDB;
    font-weight: 700;
    vertical-align: middle;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.sec-cont {
    background-color: #EFEFEF;

}

#id-box span {
    padding: 15px 0;
    display: inline-block;
    width: 16.6%;
}

section select, section input {
    border: none;
    padding: 3px 0;
    background-color: transparent;
    width: 14%;
    margin-left: -4%;
    margin-right: 2%;
}

select option {
    background-color: #EFEFEF;
}

.fa-angle-down {
    font-size: 21px;
}

/*return*/
.return-t {
    background-color: #DEDFDE;
    padding: 4px;
}

.star {
    color: red;
}

/*.return span:nth-child(2){*/
/*width: 12%;*/
/*display: inline-block;*/
/*}*/
.r-b {
    text-align: center;
    padding: 2px;
    background-color: #F5F5F5;
}

.r-b:hover {
    background-color: #BFEAFB;
}

#big-box .row {
    padding: 7px;
    margin: 0;
    background-color: #F5F5F5;

}
#big-box .row:hover{
    background-color: #BFEAFB;
}
#big-box select{
    width: 80%;
    border:none;
    padding: 4px;
    background-color: #F5F5F5;
}

/*main4*/
#big-box  .newAdd{
    padding: 5px 12px;
    border:none;
    border-radius: 4px;
    color: #fff;
    background-color: #636F80;
}

#big-box .newrow{
    background-color: #E6E6E6;
}
#big-box  .newrow:hover{
    background-color:#E6E6E6;
}


/*main5*/
.main5 td:nth-child(6),
.main5 td:nth-child(7),
.main5 td:nth-child(8),
.main5 td:nth-child(9),
.main5 td:nth-child(10),
.main5 td:nth-child(11),
.main5 td:nth-child(12),
.main5 td:nth-child(13){
    color:red;
}


#big-box .active{
    display: none;
}